.themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--nav-border);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 250ms linear;
}

.themeBtn:hover {
  border-color: var(--light-gray-80);
}

@media (width < 650px) {
  .themeBtn {
    display: none;
  }
}