:root {
  --ifm-card-background-color: transparent;
}

#__docusaurus {
  .custom-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 16px 0 56px;

    & .custom-doc-card {
      border-radius: 10px;
      margin-bottom: 0 !important;

      & .card.cardContainer {
        padding: 0;

        & .img-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          margin-bottom: 20px;
        }
      }

      &:nth-child(even) {
        background: var(--gradient-card);
      }

      &:nth-child(odd) {
        background: var(--gradient-card);
      }

      & .cardTitle {
        margin-bottom: 12px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: var(--light-black);

        &.card-icon-small {
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          gap: 10px;

          & .img-wrap {
            margin: 0;

            html[data-theme="dark"] & img {
             filter: invert(88%);
            }
          }

          & .svg-wrap--blue {
            color: #0A3390;
            margin: 0;

            html[data-theme="dark"] & {
             color: #fff;
            }
          }
          & .svg-wrap--gray {
            color: #B8C2CC;
            margin-bottom: 0px;
            width: 30px;

            html[data-theme="dark"] & {
             color: #fff;
            }
          }
        }
      }

      & .cardDescription {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--light-black);
        opacity: 0.8;
      }

      & svg {
        margin-bottom: 20px;
        display: block;
      }
    }
  }

  .theme-doc-markdown.markdown {
    & div:last-of-type .custom-doc-card .cardTitle.card-icon-small img{
      filter: none;
    }

  }
}

@media screen and (max-width: 767px) {
  #__docusaurus .custom-cards-wrapper {
    grid-template-columns: 1fr;
  }
}
