.frameworkExplore {
  padding: 56px 0 20px;
}

.frameworkExploreTitle {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: var(--light-black);
}

.frameworkExploreList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.frameworkExploreText {
  margin-bottom: 32px;
  max-width: 550px;
  font-size: 16px;
  font-weight: 400;
}

@media (width < 500px) {
  .frameworkExploreList {
    flex-direction: column;
  }
}
