/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  padding: clamp(30px, 5vw, 40px) clamp(16px, 4vw, 80px);
}

.frameworksMobile {
  display: none;
}

.frameworksDesktop {
  display: block;
}

@media (width < 600px) {
  .frameworksMobile {
    display: block;
  }
  .frameworksDesktop {
    display: none;
  }
}