.footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--footerBg);
}

.footerText {
    color: var(--light-white);
    margin: 0;
}