.text {
  margin: 56px 0 24px;
  text-align: center;
  color: #717375;
  font-weight: 700;
  font-size: 16px;
}

.iconStyle {
  max-width: 27px;
}

.iconList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
  margin-bottom: 50px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 48px;
  height: 48px;
  border: 1px solid #b8c2cc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms linear;
  position: relative;
}

.iconWrapper:hover {
  background-color: var(--light-black);
  color: var(--icon-hover);
}

.input {
  display: none;
}

.input:checked + .iconWrapper .iconStyle {
  color: white;
}

.input:checked + .iconWrapper {
  background-color: black;
}

.titleLabelHover {
  display: none;
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 8px;
  background-color: #f4f7f9;
  border-radius: 20px;
  font-size: 10px;
  color: #717375;
}

.iconWrapper:hover .titleLabelHover {
  display: block;
}
