.text {
  margin: 56px 0 24px;
  text-align: center;
  color: #717375;
  font-weight: 700;
  font-size: 16px;
}

.iconStyle {
  color: var(--icon-base);
  max-width: 27px;
}

.iconWrapper:hover .iconStyle {
  color: var(--icon-hover);
}

.iconList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
  margin-bottom: 50px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 48px;
  height: 48px;
  border: 1px solid #b8c2cc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.iconWrapper:hover {
  background-color: var(--light-black);
}
